USE [master]
GO
/****** Object:  Database [PCC]    Script Date: 2/15/2023 6:08:22 PM ******/
CREATE DATABASE [PCC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PCC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2014\MSSQL\DATA\PCC.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PCC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2014\MSSQL\DATA\PCC_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PCC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PCC]
GO
/****** Object:  Table [dbo].[ActivityLog]    Script Date: 2/15/2023 6:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLog](
	[ActivityLogID] [uniqueidentifier] NOT NULL,
	[LogType] [nvarchar](20) NOT NULL,
	[TxnDate] [datetime] NOT NULL,
	[PCName] [nvarchar](200) NOT NULL,
	[Remark] [nvarchar](1000) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Active] [nchar](1) NOT NULL,
 CONSTRAINT [ActivityLog_PK] PRIMARY KEY CLUSTERED 
(
	[ActivityLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Line]    Script Date: 2/15/2023 6:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Line](
	[LineID] [uniqueidentifier] NOT NULL,
	[LineCode] [nvarchar](20) NOT NULL,
	[LineGroupID] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Active] [nchar](1) NOT NULL,
 CONSTRAINT [Line_PK] PRIMARY KEY CLUSTERED 
(
	[LineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LineDetail]    Script Date: 2/15/2023 6:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineDetail](
	[LineDetailID] [uniqueidentifier] NOT NULL,
	[LineID] [uniqueidentifier] NOT NULL,
	[Efficiency] [tinyint] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Active] [nchar](1) NOT NULL,
 CONSTRAINT [LineDetail_PK] PRIMARY KEY CLUSTERED 
(
	[LineDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LineGroup]    Script Date: 2/15/2023 6:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineGroup](
	[LineGroupID] [uniqueidentifier] NOT NULL,
	[GroupCode] [nvarchar](20) NOT NULL,
	[GroupDesc] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Active] [nchar](1) NOT NULL,
 CONSTRAINT [LineGroup_PK] PRIMARY KEY CLUSTERED 
(
	[LineGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MasterBOM]    Script Date: 2/15/2023 6:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterBOM](
	[MasterBOMId] [uniqueidentifier] NOT NULL,
	[AssemblyRef] [nvarchar](max) NULL,
	[PartID] [uniqueidentifier] NOT NULL,
	[OrPartID1] [uniqueidentifier] NULL,
	[OrPartID2] [uniqueidentifier] NULL,
	[OrPartID3] [uniqueidentifier] NULL,
	[MasterModelID] [uniqueidentifier] NULL,
	[ModelID] [uniqueidentifier] NULL,
	[LineID] [uniqueidentifier] NULL,
	[MasterStationId] [uniqueidentifier] NULL,
	[Insertion] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Active] [nchar](1) NOT NULL CONSTRAINT [DF_MasterBOM_Active]  DEFAULT (N'Y')
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MasterModel]    Script Date: 2/15/2023 6:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterModel](
	[MasterModelID] [uniqueidentifier] NOT NULL,
	[MasterModelCode] [nvarchar](20) NOT NULL,
	[ModelGroupID] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Active] [nchar](1) NOT NULL,
 CONSTRAINT [MasterModel_PK] PRIMARY KEY CLUSTERED 
(
	[MasterModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MasterPartList]    Script Date: 2/15/2023 6:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterPartList](
	[MasterPartListID] [uniqueidentifier] NOT NULL,
	[MasterModelMachineID] [uniqueidentifier] NOT NULL,
	[MasterModelID] [uniqueidentifier] NOT NULL,
	[PartID] [uniqueidentifier] NOT NULL,
	[FeederNo] [int] NOT NULL,
	[Polarity] [image] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Active] [nchar](1) NOT NULL,
 CONSTRAINT [MasterPartList_PK] PRIMARY KEY CLUSTERED 
(
	[MasterPartListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MasterStation]    Script Date: 2/15/2023 6:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterStation](
	[MasterStationId] [uniqueidentifier] NULL,
	[MasterStationCode] [nvarchar](max) NULL,
	[LineID] [uniqueidentifier] NULL,
	[StationNo] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Active] [nchar](1) NULL CONSTRAINT [DF_MasterStation_Active]  DEFAULT (N'Y'),
	[Status] [int] NULL CONSTRAINT [DF_MasterStation_Status]  DEFAULT ((0))
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Model]    Script Date: 2/15/2023 6:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model](
	[ModelID] [uniqueidentifier] NOT NULL,
	[ModelCode] [nvarchar](50) NOT NULL,
	[ModelDesciption] [nvarchar](50) NULL,
	[MasterModelID] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Active] [nchar](1) NULL,
 CONSTRAINT [Model_PK] PRIMARY KEY CLUSTERED 
(
	[ModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Part]    Script Date: 2/15/2023 6:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Part](
	[PartID] [uniqueidentifier] NOT NULL,
	[PartNo] [nvarchar](20) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Active] [nchar](1) NULL CONSTRAINT [DF_Part_Active]  DEFAULT (N'Y'),
 CONSTRAINT [Part_PK] PRIMARY KEY CLUSTERED 
(
	[PartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductionStation]    Script Date: 2/15/2023 6:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductionStation](
	[ProductionStationId] [uniqueidentifier] NULL,
	[ScheduleID] [uniqueidentifier] NOT NULL,
	[ProductionId] [nvarchar](max) NULL,
	[MasterBOMId] [uniqueidentifier] NOT NULL,
	[RunningId] [nvarchar](150) NULL,
	[PartID] [uniqueidentifier] NULL,
	[Qty] [int] NULL,
	[TDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 2/15/2023 6:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[ScheduleID] [uniqueidentifier] NOT NULL,
	[ProductionId] [nvarchar](max) NULL,
	[LineID] [uniqueidentifier] NOT NULL,
	[MasterModelID] [uniqueidentifier] NULL,
	[ModelID] [uniqueidentifier] NOT NULL,
	[NCDataID] [uniqueidentifier] NULL,
	[Version] [nvarchar](max) NOT NULL,
	[SeqNo] [int] NOT NULL CONSTRAINT [DF_Schedule_SeqNo]  DEFAULT ((0)),
	[EstStart] [datetime] NULL,
	[EstEnd] [datetime] NULL,
	[ActualStart] [datetime] NULL,
	[ActualEnd] [datetime] NULL,
	[PlannedQty] [int] NULL,
	[ExpectedQty] [int] NULL,
	[ActualQty] [int] NULL,
	[ProductionStatus] [nvarchar](50) NULL CONSTRAINT [DF_Schedule_ProductionStatus]  DEFAULT (N'Pending'),
	[InsertionError] [decimal](10, 2) NULL,
	[CurrentErrorType] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Active] [nchar](1) NOT NULL,
 CONSTRAINT [Schedule_PK] PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ScheduleDetail]    Script Date: 2/15/2023 6:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleDetail](
	[ScheduleDetailID] [uniqueidentifier] NOT NULL,
	[ScheduleID] [uniqueidentifier] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[ShiftSeqNo] [tinyint] NOT NULL,
	[Qty] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Active] [nchar](1) NOT NULL,
 CONSTRAINT [ScheduleDetail_PK] PRIMARY KEY CLUSTERED 
(
	[ScheduleDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Traceability]    Script Date: 2/15/2023 6:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Traceability](
	[TDate] [datetime] NULL,
	[TraceabilityId] [uniqueidentifier] NULL,
	[ProductSerialNo] [nvarchar](150) NULL,
	[ScheduleID] [uniqueidentifier] NOT NULL,
	[ProductionId] [nvarchar](max) NULL,
	[LineId] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[Active] [nchar](1) NOT NULL CONSTRAINT [DF_Traceability_Active]  DEFAULT ((1)),
	[Status] [int] NULL CONSTRAINT [DF_Tracebility_Status]  DEFAULT ((0))
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserGroup]    Script Date: 2/15/2023 6:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroup](
	[UserGroupID] [uniqueidentifier] NOT NULL,
	[UserGroupDesc] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Active] [nchar](1) NOT NULL,
 CONSTRAINT [UserGroup_PK] PRIMARY KEY CLUSTERED 
(
	[UserGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserGroupFunction]    Script Date: 2/15/2023 6:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroupFunction](
	[UserGroupFunctionID] [uniqueidentifier] NOT NULL,
	[UserGroupID] [uniqueidentifier] NOT NULL,
	[FunctionsMenuID] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Active] [nchar](1) NOT NULL,
 CONSTRAINT [UserGroupFunction_PK] PRIMARY KEY CLUSTERED 
(
	[UserGroupFunctionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 2/15/2023 6:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMaster](
	[UserMasterID] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[EmployeeName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[UserGroupID] [uniqueidentifier] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[Active] [nchar](1) NOT NULL,
 CONSTRAINT [UserMaster_PK] PRIMARY KEY CLUSTERED 
(
	[UserMasterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Line] ([LineID], [LineCode], [LineGroupID], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [Active]) VALUES (N'a0efe197-e2d5-40f4-93e0-51b15d30312d', N'Subline 2', NULL, CAST(N'2022-11-24 17:05:45.000' AS DateTime), NULL, N'de066a80-4581-4545-b094-685b8a9f7df8', NULL, N'Y')
INSERT [dbo].[Line] ([LineID], [LineCode], [LineGroupID], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [Active]) VALUES (N'2b30ff77-5127-4c58-b4e8-695338016b64', N'Subline 1', NULL, CAST(N'2022-12-02 15:16:44.000' AS DateTime), CAST(N'2022-12-02 16:37:23.000' AS DateTime), N'245b7e7d-0589-48e8-a3bb-33be9b87813c', N'2aa907cb-4307-4ef2-8448-c4d354e21553', N'N')
INSERT [dbo].[MasterBOM] ([MasterBOMId], [AssemblyRef], [PartID], [OrPartID1], [OrPartID2], [OrPartID3], [MasterModelID], [ModelID], [LineID], [MasterStationId], [Insertion], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [Active]) VALUES (N'c5246841-13b5-47d8-98a2-29785bb6597d', N'', N'9d5b54ce-9aba-4280-8dde-81c2fd7cd264', NULL, NULL, NULL, N'cbe1ab90-ac22-4203-b795-2f478a143686', N'7ee2d164-6b09-44c7-aa53-1f0a55ea2d44', N'a0efe197-e2d5-40f4-93e0-51b15d30312d', N'dd0fce1f-d3fd-43dd-96e2-840d9a7d8e23', 1, NULL, NULL, NULL, NULL, N'Y')
INSERT [dbo].[MasterBOM] ([MasterBOMId], [AssemblyRef], [PartID], [OrPartID1], [OrPartID2], [OrPartID3], [MasterModelID], [ModelID], [LineID], [MasterStationId], [Insertion], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [Active]) VALUES (N'ae65e267-d4ea-447d-a6a4-1cdc656115bb', N'', N'0908869a-caa3-4446-9355-278e8364c45b', NULL, NULL, NULL, N'cbe1ab90-ac22-4203-b795-2f478a143686', N'7ee2d164-6b09-44c7-aa53-1f0a55ea2d44', N'a0efe197-e2d5-40f4-93e0-51b15d30312d', N'dd0fce1f-d3fd-43dd-96e2-840d9a7d8e23', 1, NULL, NULL, NULL, NULL, N'Y')
INSERT [dbo].[MasterBOM] ([MasterBOMId], [AssemblyRef], [PartID], [OrPartID1], [OrPartID2], [OrPartID3], [MasterModelID], [ModelID], [LineID], [MasterStationId], [Insertion], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [Active]) VALUES (N'1257f0af-4c76-4852-a67e-5fa9f0266716', N'', N'60dbc452-ed44-4edd-8238-a419eae82f1e', NULL, NULL, NULL, N'cbe1ab90-ac22-4203-b795-2f478a143686', N'7ee2d164-6b09-44c7-aa53-1f0a55ea2d44', N'a0efe197-e2d5-40f4-93e0-51b15d30312d', N'dd0fce1f-d3fd-43dd-96e2-840d9a7d8e23', 1, NULL, NULL, NULL, NULL, N'Y')
GO
INSERT [dbo].[MasterModel] ([MasterModelID], [MasterModelCode], [ModelGroupID], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [Active]) VALUES (N'cbe1ab90-ac22-4203-b795-2f478a143686', N'TP4', NULL, CAST(N'2022-11-16 17:25:32.000' AS DateTime), NULL, N'9e7bdd7c-de8f-4bcc-a4a0-0858f29b4074', NULL, N'Y')
INSERT [dbo].[MasterModel] ([MasterModelID], [MasterModelCode], [ModelGroupID], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [Active]) VALUES (N'b606bb42-3b0a-4755-b6eb-a6ef5314ac6a', N'TP9', NULL, CAST(N'2022-11-16 17:25:57.000' AS DateTime), CAST(N'2022-11-21 15:42:10.000' AS DateTime), N'2df97188-47a2-4d5f-afdc-ce1e4e8bc1df', N'31868519-0602-4d68-9a3f-18d2b8f456ce', N'Y')
INSERT [dbo].[MasterModel] ([MasterModelID], [MasterModelCode], [ModelGroupID], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [Active]) VALUES (N'2aa58fda-9505-452d-94c8-ac95c8d4fb78', N'TP8', NULL, CAST(N'2022-11-16 17:26:46.000' AS DateTime), NULL, N'b7420598-4e1b-4c53-a0fd-e0df45530b1f', NULL, N'Y')
INSERT [dbo].[MasterStation] ([MasterStationId], [MasterStationCode], [LineID], [StationNo], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [Active], [Status]) VALUES (N'dd0fce1f-d3fd-43dd-96e2-840d9a7d8e23', N'E1', N'a0efe197-e2d5-40f4-93e0-51b15d30312d', 1, CAST(N'2022-12-02 15:04:57.000' AS DateTime), NULL, N'30c4f382-4f12-469a-8193-8d6d7689924e', NULL, N'Y', 1)
INSERT [dbo].[MasterStation] ([MasterStationId], [MasterStationCode], [LineID], [StationNo], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [Active], [Status]) VALUES (N'e3442e5e-9c53-4b74-a3a7-857210062cbb', N'E2', N'a0efe197-e2d5-40f4-93e0-51b15d30312d', 1, CAST(N'2022-12-02 15:05:09.000' AS DateTime), NULL, N'30c4f382-4f12-469a-8193-8d6d7689924e', NULL, N'Y', 0)
INSERT [dbo].[MasterStation] ([MasterStationId], [MasterStationCode], [LineID], [StationNo], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [Active], [Status]) VALUES (N'37349e23-f995-4042-8ccd-9f3fc5e67120', N'E3', N'a0efe197-e2d5-40f4-93e0-51b15d30312d', 3, CAST(N'2022-12-02 15:05:30.000' AS DateTime), NULL, N'30c4f382-4f12-469a-8193-8d6d7689924e', NULL, N'Y', 0)
INSERT [dbo].[Model] ([ModelID], [ModelCode], [ModelDesciption], [MasterModelID], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [Active]) VALUES (N'7ee2d164-6b09-44c7-aa53-1f0a55ea2d44', N'TNPA7357DB', N'', N'cbe1ab90-ac22-4203-b795-2f478a143686', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Model] ([ModelID], [ModelCode], [ModelDesciption], [MasterModelID], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [Active]) VALUES (N'4f24b29e-06c9-407d-9c68-4d87d45812c4', N'', N'', N'cbe1ab90-ac22-4203-b795-2f478a143686', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Model] ([ModelID], [ModelCode], [ModelDesciption], [MasterModelID], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [Active]) VALUES (N'6778cf19-dde7-47b7-b2ef-5686212396e2', N'TNPA7885EA', N'', N'cbe1ab90-ac22-4203-b795-2f478a143686', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Part] ([PartID], [PartNo], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [Active]) VALUES (N'e6f35430-cbe6-4b17-bad4-01def45d2865', N'K1KY03BA0799', CAST(N'2022-11-24 11:46:01.000' AS DateTime), NULL, N'bc02be41-3a51-4453-a403-140e3f4ec651', NULL, N'Y')
INSERT [dbo].[Part] ([PartID], [PartNo], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [Active]) VALUES (N'52e2bfba-56b0-4ac0-b81f-06223a177809', N'F1BAF101A232', NULL, NULL, NULL, NULL, N'Y')
INSERT [dbo].[Part] ([PartID], [PartNo], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [Active]) VALUES (N'1250236d-778d-4ce5-9fce-0794fb41f19e', N'TUC5ZJ52231', CAST(N'2022-11-24 11:46:01.000' AS DateTime), NULL, N'bc02be41-3a51-4453-a403-140e3f4ec651', NULL, N'Y')
GO
INSERT [dbo].[ProductionStation] ([ProductionStationId], [ScheduleID], [ProductionId], [MasterBOMId], [RunningId], [PartID], [Qty], [TDate], [Status]) VALUES (N'fe9aaa80-fa1d-4bd9-b0e5-7f4041f2f9ec', N'f6be11cd-002e-43ca-b886-3505a89cc981', N'PRD141222-1451', N'd4fd9bc0-47f4-4fbd-b2f5-098999a40d12', NULL, N'e6f35430-cbe6-4b17-bad4-01def45d2865', 180, NULL, NULL)
INSERT [dbo].[ProductionStation] ([ProductionStationId], [ScheduleID], [ProductionId], [MasterBOMId], [RunningId], [PartID], [Qty], [TDate], [Status]) VALUES (N'fe9aaa80-fa1d-4bd9-b0e5-7f4041f2f9ec', N'f6be11cd-002e-43ca-b886-3505a89cc981', N'PRD141222-1451', N'd4fd9bc0-47f4-4fbd-b2f5-098999a40d12', NULL, N'e6f35430-cbe6-4b17-bad4-01def45d2865', 300, CAST(N'2022-12-21 10:04:23.000' AS DateTime), N'Completed')
INSERT [dbo].[ProductionStation] ([ProductionStationId], [ScheduleID], [ProductionId], [MasterBOMId], [RunningId], [PartID], [Qty], [TDate], [Status]) VALUES (NULL, N'f6be11cd-002e-43ca-b886-3505a89cc981', NULL, N'd4fd9bc0-47f4-4fbd-b2f5-098999a40d12', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Traceability] ([TDate], [TraceabilityId], [ProductSerialNo], [ScheduleID], [ProductionId], [LineId], [CreatedDate], [ModifiedDate], [Active], [Status]) VALUES (CAST(N'2023-01-31 15:50:16.000' AS DateTime), N'86be0f8a-b16d-43b5-acce-916ac126fbf2', N'9785015320008', N'4bc47e2a-b3d3-4574-ac1e-d55e6d095ed5', N'PRD250123-1556', N'a0efe197-e2d5-40f4-93e0-51b15d30312d', CAST(N'2023-01-31 15:50:16.000' AS DateTime), NULL, N'1', 0)
INSERT [dbo].[Traceability] ([TDate], [TraceabilityId], [ProductSerialNo], [ScheduleID], [ProductionId], [LineId], [CreatedDate], [ModifiedDate], [Active], [Status]) VALUES (CAST(N'2023-01-31 15:51:34.000' AS DateTime), N'c6b32e44-4774-4278-a912-b0b0f6ba95a7', N'9785015320008', N'4bc47e2a-b3d3-4574-ac1e-d55e6d095ed5', N'PRD250123-1556', N'a0efe197-e2d5-40f4-93e0-51b15d30312d', CAST(N'2023-01-31 15:51:34.000' AS DateTime), NULL, N'1', 0)
INSERT [dbo].[Traceability] ([TDate], [TraceabilityId], [ProductSerialNo], [ScheduleID], [ProductionId], [LineId], [CreatedDate], [ModifiedDate], [Active], [Status]) VALUES (CAST(N'2023-01-31 15:51:35.000' AS DateTime), N'6d90a0a2-29b3-476c-9cb6-a58ec7bc464e', N'9785015320008', N'4bc47e2a-b3d3-4574-ac1e-d55e6d095ed5', N'PRD250123-1556', N'a0efe197-e2d5-40f4-93e0-51b15d30312d', CAST(N'2023-01-31 15:51:35.000' AS DateTime), NULL, N'1', 0)
GO
INSERT [dbo].[UserMaster] ([UserMasterID], [UserName], [EmployeeName], [Password], [UserGroupID], [CreatedDate], [ModifiedDate], [CreatedBy], [ModifiedBy], [Active]) VALUES (N'cbe1ab90-ac22-4203-b795-2f478a143686', N'Admin', N'Admin', N'123', N'cbe1ab90-ac22-4203-b795-2f478a143686', CAST(N'2022-11-16 17:25:32.000' AS DateTime), NULL, N'cbe1ab90-ac22-4203-b795-2f478a143686', NULL, N'Y')
ALTER TABLE [dbo].[LineDetail]  WITH NOCHECK ADD  CONSTRAINT [Line_LineDetail_FK1] FOREIGN KEY([LineID])
REFERENCES [dbo].[Line] ([LineID])
GO
ALTER TABLE [dbo].[LineDetail] CHECK CONSTRAINT [Line_LineDetail_FK1]
GO
ALTER TABLE [dbo].[MasterPartList]  WITH NOCHECK ADD  CONSTRAINT [MasterModel_MasterPartList_FK1] FOREIGN KEY([MasterModelID])
REFERENCES [dbo].[MasterModel] ([MasterModelID])
GO
ALTER TABLE [dbo].[MasterPartList] CHECK CONSTRAINT [MasterModel_MasterPartList_FK1]
GO
ALTER TABLE [dbo].[MasterPartList]  WITH NOCHECK ADD  CONSTRAINT [Part_MasterPartList_FK1] FOREIGN KEY([PartID])
REFERENCES [dbo].[Part] ([PartID])
GO
ALTER TABLE [dbo].[MasterPartList] CHECK CONSTRAINT [Part_MasterPartList_FK1]
GO
ALTER TABLE [dbo].[Schedule]  WITH NOCHECK ADD  CONSTRAINT [Line_Schedule_FK1] FOREIGN KEY([LineID])
REFERENCES [dbo].[Line] ([LineID])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [Line_Schedule_FK1]
GO
ALTER TABLE [dbo].[ScheduleDetail]  WITH NOCHECK ADD  CONSTRAINT [Schedule_ScheduleDetail_FK1] FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[Schedule] ([ScheduleID])
GO
ALTER TABLE [dbo].[ScheduleDetail] CHECK CONSTRAINT [Schedule_ScheduleDetail_FK1]
GO
USE [master]
GO
